/*.log
/target
/*-init.clj
/example/resources/js
/example/example.js
/example/build
/target
/build
out
**/*.iml
/.idea
/.shadow-cljs
/node_modules
/.lein-repl-history
/.nrepl-port
/.cpcache/
/pom.xml
