{:paths ["src"]

 :deps {org.clojure/clojure       {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.10.742"}
        bidi/bidi                 {:mvn/version "2.1.6"}
        hiccup/hiccup             {:mvn/version "1.0.5"}
        me.raynes/fs              {:mvn/version "1.4.6"}
        reagent/reagent           {:mvn/version "0.10.0"}
        venantius/accountant      {:mvn/version "0.2.5"}}

 ;; Deploy to Clojars
 ;; `clojure -M:project/clojars project.jar`
 ;; Deploy to Clojars signed
 ;; `clojure -M:project/clojars-signed project.jar`
 ;;
 ;; Set Clojars username/token in `CLOJARS_USERNAME` and `CLOJARS_PASSWORD`
 ;; environment variables.
 ;; Set fully qualified artifact-name and version in project `pom.xml` file

 :project/clojars
 {:replace-paths []
  :replace-deps  {slipset/deps-deploy {:mvn/version "RELEASE"}}
  :main-opts     ["-m" "deps-deploy.deps-deploy"
                  "deploy"]}

 :project/clojars-signed
 {:replace-paths []
  :replace-deps  {slipset/deps-deploy {:mvn/version "RELEASE"}}
  :main-opts     ["-m" "deps-deploy.deps-deploy"
                  "deploy"
                  :true]}
 }
