{:source-paths ["src"]
 :dependencies [[reagent "0.10.0"]
                [bidi "2.1.6"]
                [venantius/accountant "0.2.5"]
                [binaryage/devtools "0.9.10"]]
 :nrepl        {:port 9500}
 :builds       {:client {:target     :browser
                         :output-dir "resources/js"
                         :asset-path "/js"
                         :modules    {:main {:init-fn klavik.dev/init}}
                         :devtools   {:http-root      "resources"
                                      :http-port      3500
                                      :after-load     klavik.dev/mount-root
                                      :watch-dir      "resources"
                                      :browser-inject :main}}}}